<div class="nav-container">
    <nav>
        <ul>
            <div>
                <li><a href="/">
                        <h1>HRM Web App</h1>
                    </a></li>
                <li><a href="/"><i class="fa-solid fa-house"></i>Trang chủ</a></li>
                <li><a href="/employee"><i class="fa-solid fa-user"></i>Nhân viên</a></li>
                <li><a href="/project"><i class="fa-solid fa-file-lines"></i>Dự án</a></li>
                <li><a href="/request"><i class="fa-solid fa-code-pull-request"></i>Yêu cầu</a></li>
                <li><a href="/news"><i class="fa-solid fa-newspaper"></i></i>Bản tin</a></li>
                <li><a href="/event"><i class="fa-solid fa-calendar-days"></i>Sự kiện</a></li>
                <li><a href="/notification"><i class="fa-solid fa-bell"></i>Thông báo</a></li>
                <li><a href="/setting"><i class="fa-solid fa-gear"></i>Cài đặt</a></li>
                <li><a href="/other"><i class="fa-solid fa-screwdriver-wrench"></i>Khác</a></li>
            </div>
            <div>
                <li><a href="/profile" style="padding-inline:0">
                        <img class="user-avatar-header" src="/img/default-user.jpeg" alt="User Avatar">
                        <span class="username-header"></span>
                    </a>
                </li>
                <li><a href="/signout"><i class="fa-solid fa-right-from-bracket"></i>Đăng xuất</a></li>
            </div>
        </ul>
    </nav>
</div>