<div id="project-tab" class="tab-content">
    <h1>Dự án đã tham gia</h1>
    <div class="project-card">
        <div class="project-header">
            <h2 class="project-name">Dự án quản lý đào tạo</h2>
            <p class="project-status" data-status="0">Đã bàn giao</p>
        </div>
        <div>
            <div class="project-tags">
                <p class="project-tag">NodeJS</p>
                <p class="project-tag">ReactJS</p>
                <p class="project-tag">Heroku</p>
            </div>
            <p class="project-date"><i class="fas fa-calendar-alt"></i> From Date - To Date</p>
        </div>
    </div>

    <div class="project-card">
        <div class="project-header">
            <h2 class="project-name">Dự án chấm công bằng khuôn mặt</h2>
            <p class="project-status" data-status="1">Đang thực hiện</p>
        </div>
        <div>
            <div class="project-tags">
                <p class="project-tag">OpenCV</p>
                <p class="project-tag">MongoDB</p>
                <p class="project-tag">AWS</p>
            </div>
            <p class="project-date"><i class="fas fa-calendar-alt"></i> From Date - To Date</p>
        </div>
    </div>

    <div class="project-card">
        <div class="project-header">
            <h2 class="project-name">Dự án quản lý chung cư</h2>
            <p class="project-status" data-status="2">Đã huỷ</p>
        </div>
        <div>
            <div class="project-tags">
                <p class="project-tag">Spring Boot</p>
                <p class="project-tag">Heroku</p>
            </div>
            <p class="project-date"><i class="fas fa-calendar-alt"></i> From Date - To Date</p>
        </div>
    </div>
</div>