<div class="container">
    <h1>{{title}}</h1>
    <form method="post">
        <label for="name">Tên đăng nhập:</label>
        <input type="text" id="username" name="username" value="{{data.username}}" disabled>

        <label for="value">Mức lương mới:</label>
        <input type="value" id="value" name="value" >

        <label for="note">Ghi chú:</label>
        <textarea id="note" name="note"></textarea>

        <div class="button-wrapper">
            <button type="submit">Cập nhật</button>
        </div>
    </form>
</div>