<div id="salary-tab" class="tab-content">
    <h1>Lịch sử lương</h1>
    <div class="button-wrapper">
        <a href="/employee/{{data.username}}/salaryUpdate">Cập nhật lương</a>
    </div>
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>Ngày áp dụng</th>
                    <th>Mức lương</th>
                    <th>Ghi chú</th>
                </tr>
            </thead>
            <tbody>
                {{#each data.data}}
                <tr>
                    <td>{{formatDate this.createAt}}</td>
                    <td>{{formatMoney this.value}}</td>
                    <td>{{this.note}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>