<h1 class="title">Danh sách sự kiện</h1>

<button class="create-new">Tạo sự kiện mới</button>

<div class="event-list">
    <div class="event-item">
        <div class="event-item-header">
            <h2 class="event-item-title">Event Name</h2>
            <div class="event-item-expiration">Expired in 2 days</div>
        </div>
        <div class="event-item-body">
            <p class="event-item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed lobortis
                magna. Nulla non enim non leo sollicitudin laoreet.</p>
            <div class="event-item-participants">20 participants</div>
        </div>
        <div class="event-item-footer">
            <a href="#" class="event-item-edit-button">Chỉnh sửa</a>
        </div>
    </div>
</div>