<h1 class="title">Danh sách bản tin</h1>

<button class="create-new">Tạo bản tin mới</button>

<div class="news-list">
    <div class="news-item">
        <div class="news-item-thumbnail">
            <img src="news-thumbnail.jpg" alt="News Thumbnail">
        </div>
        <div class="news-item-content">
            <h2 class="news-item-title">News Title</h2>
            <p class="news-item-date">April 1, 2022</p>
            <p class="news-item-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel ipsum lacus.
                Pellentesque vel arcu vitae eros lacinia tincidunt.</p>
            <a href="#" class="news-item-link">Xem thêm</a>
        </div>
    </div>
</div>