<div class="tabs">
    <ul class="tab-links">
        <li><a class="active" href="#information-tab">Thông tin tài khoản</a></li>
        <li><a href="#change-password-tab">Đổi mật khẩu</a></li>
    </ul>
</div>

<div class="tab-contents">
    <div id="information-tab" class="tab-content active">
        <h1>Thông tin tài khoản</h1>
        <form>
            <label for="name">Người quản lí tài khoản:</label>
            <input type="text" id="name" name="name" value="{{data.user.name}}" disabled>

            <label for="username">Tên đăng nhập:</label>
            <input type="text" id="username" name="username" value="{{data.user.username}}" disabled>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{data.user.email}}" disabled>

            <label for="phone">Số điện thoại:</label>
            <input type="tel" id="phone" name="phone" value="{{data.user.phoneNumber}}" disabled>
        </form>
    </div>

    <div id="change-password-tab" class="tab-content">
        <h1>Đổi mật khẩu</h1>
        <form action="?action=changePassword" method="post">
            <label for="currentPassword-group">Mật khẩu hiện tại:</label>
            <div class="password-group currentPassword-group">
                <input type="checkbox" id="currentPassword-toggle" checked hidden>
                <label for="currentPassword-toggle" class="control-label__show-password">
                    <i class="fa-sharp fa-solid fa-eye show-icon"></i>
                    <i class="fa-solid fa-eye-slash hide-icon"></i>
                </label>
                <input type="text" id="currentPassword" name="currentPassword" required>
            </div>

            <label for="newPassword-group">Mật khẩu mới:</label>
            <div class="password-group newPassword-group">
                <input type="checkbox" id="newPassword-toggle" checked hidden>
                <label for="newPassword-toggle" class="control-label__show-password">
                    <i class="fa-sharp fa-solid fa-eye show-icon"></i>
                    <i class="fa-solid fa-eye-slash hide-icon"></i>
                </label>
                <input type="text" id="newPassword" name="newPassword" required>
            </div>

            <label for="newConfirmPassword-group">Nhập lại mật khẩu mới:</label>
            <div class="password-group newConfirmPassword-group">
                <input type="checkbox" id="newConfirmPassword-toggle" checked hidden>
                <label for="newConfirmPassword-toggle" class="control-label__show-password">
                    <i class="fa-sharp fa-solid fa-eye show-icon"></i>
                    <i class="fa-solid fa-eye-slash hide-icon"></i>
                </label>
                <input type="text" id="newConfirmPassword" name="newConfirmPassword" required>
            </div>

            <button type="submit">Lưu thay đổi</button>
        </form>
    </div>
</div>