<h1 class="title">Danh sách yêu cầu</h1>

<div class="request-list-header">
    <form class="search-container">
        <input type="text" class="search-input" name="key_search" placeholder="Tìm kiếm...">
        <i class="fa fa-search search-btn"></i>
    </form>
</div>

<div class="request-list">
    <table>
        <thead>
            <tr>
                <th>STT</th>
                <th>Họ và tên</th>
                <th>Tên đăng nhập</th>
                <th>Yêu cầu</th>
                <th>Ngày tạo</th>
                <th>Trạng thái</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="/request/1">1</a></td>
                <td><a href="/request/1">John Doe</a></td>
                <td><a href="/request/1">nvwebapp01</a></td>
                <td><a href="/request/1">Xin nghỉ phép</a></td>
                <td><a href="/request/1">01/02/2023</a></td>
                <td data-status="0"><a href="/request/1">
                        <span>Đã duyệt</span>
                    </a></td>
            </tr>
            <tr>
                <td><a href="/request/2">2</a></td>
                <td><a href="/request/2">Jane Smith</a></td>
                <td><a href="/request/2">nvwebapp02</a></td>
                <td><a href="/request/2">Xin làm thêm giờ</a></td>
                <td><a href="/request/2">28/01/2023</a></td>
                <td data-status="1"><a href="/request/1">
                        <span>Đang chờ duyệt</span>
                    </a></td>
            </tr>
            <tr>
                <td><a href="/request/3">3</a></td>
                <td><a href="/request/3">Bob Johnson</a></td>
                <td><a href="/request/3">nvwebapp03</a></td>
                <td><a href="/request/3">Xin đi công tác</a></td>
                <td><a href="/request/3">15/01/2023</a></td>
                <td data-status="2"><a href="/request/1">
                        <span>Từ chối</span>
                    </a></td>
            </tr>
        </tbody>
    </table>
</div>