<div class="container">
    <h1>{{title}}</h1>
    <form>
        <label for="name">Họ và tên:</label>
        <input type="text" id="name" name="name" value="Nguyễn Văn A" disabled>

        <label for="username">Tên đăng nhập:</label>
        <input type="text" id="username" name="username" value="nvwebapp01" disabled>

        <label for="createAt">Thời gian tạo yêu cầu:</label>
        <input type="date" id="createAt" name="createAt" value="2022-22-02" disabled>

        <label for="content">Nội dung:</label>
        <input type="text" id="content" name="content" value="Xin nghỉ việc" disabled>

        <label for="status">Trạng thái:</label>
        <input type="text" id="status" name="status" value="Đang chờ duyệt" data-status="1" disabled>

        <div class="button-container">
            <a href="#" class="btn reject-btn">Từ chối</a>
            <a href="#" class="btn accept-btn">Chấp thuận</a>
        </div>
    </form>
</div>