#salary-tab .table-wrapper {
  border-radius: 10px;
  border: 1px solid #ddd;
  overflow: auto;
}

#salary-tab table {
  width: 100%;
  border-collapse: collapse;
  border-style: hidden;
}

#salary-tab th,
#salary-tab td {
  padding: 15px 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

#salary-tab th {
  background-color: #f9f9f9;
  font-weight: bold;
}
