#project-tab {
  width: 100%;
}

.project-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border: 1px solid var(--border-color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.project-card:last-child {
  margin-bottom: 0;
}

.project-card:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-name {
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

.project-status {
  padding: 5px 10px;
  border-radius: 8px;
}

.project-status[data-status='0'] {
  background-color: var(--success-background);
  color: var(--success-color);
}

.project-status[data-status='1'] {
  background-color: var(--warning-background);
  color: var(--warning-color);
}

.project-status[data-status='2'] {
  background-color: var(--error-background);
  color: var(--error-color);
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.project-tag {
  background-color: #fcebeb;
  border-radius: 15px;
  color: #f54748;
  font-size: 12px;
  margin-right: 10px;
  padding: 5px 10px;
}

.project-date {
  font-size: 14px;
  color: var(--secondary-text-color);
  margin-top: 20px;
}

.fa-calendar-alt {
  font-size: 14px;
  margin-right: 10px;
  color: var(--secondary-text-color);
}
