#request-tab .table-wrapper {
  border-radius: 10px;
  border: 1px solid var(--border-color);
  overflow: auto;
}

#request-tab table {
  width: 100%;
  border-collapse: collapse;
  border-style: hidden;
}

#request-tab tr:not(thead tr):hover {
  background-color: #ddd;
  cursor: pointer;
}

#request-tab th,
#request-tab td {
  border-bottom: 1px solid #ddd;
  text-align: center;
}

#request-tab th {
  padding: 15px 10px;
  background-color: #f9f9f9;
  font-weight: bold;
}

#request-tab td a {
  display: block;
  padding: 15px 10px;

  color: #333;
}

#request-tab td:last-child a span {
  padding: 5px 10px;
  border-radius: 8px;
  display: inline-block;
}

#request-tab td:last-child[data-status='0'] a {
  color: #008a05;
}

#request-tab td:last-child[data-status='0'] a span {
  background-color: #bfedc1;
}

#request-tab td:last-child[data-status='1'] a {
  color: #ffae00;
}

#request-tab td:last-child[data-status='1'] a span {
  background-color: #ffecbc;
}

#request-tab td:last-child[data-status='2'] a {
  color: #ff6161;
}

#request-tab td:last-child[data-status='2'] a span {
  background-color: #ffc7c7;
}
