#information-tab label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

#information-tab input,
#information-tab select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  margin-bottom: 10px;
}

#information-tab button[type='submit'] {
  background-color: var(--button-background);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#information-tab button[type='submit']:hover {
  background-color: #555;
}

#information-tab button[type='submit']:active {
  background-color: #222;
}

.avatar-wrapper {
  max-width: 200px;
  max-height: 200px;
  margin-inline: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.avatar-wrapper img {
  width: 100%;
  height: 100;
  object-fit: cover;
}

.avatar-wrapper label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.avatar-wrapper label:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.avatar-wrapper label p {
  display: none;
}

.avatar-wrapper label:hover > p {
  display: block;
  padding: 10px;
  border: 1px solid #fff;
}
