#information-tab img {
  max-width: 200px;
  max-height: 200px;
  aspect-ratio: 1;
  margin-bottom: 20px;
  border-radius: 5px;
}

#information-tab label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

#information-tab input,
#information-tab select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

#information-tab button[type='submit'] {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#information-tab button[type='submit']:hover {
  background-color: #555;
}

#information-tab button[type='submit']:active {
  background-color: #222;
}
