main {
  padding: 0;
  box-shadow: none;
  border-radius: 0;
  background-color: transparent;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.card {
  background-color: #fff;
  padding: 20px;
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:nth-child(1) {
  border-bottom: 5px solid var(--success-color);
}

.card:nth-child(2) {
  border-bottom: 5px solid var(--warning-color);
}

.card:nth-child(3) {
  border-bottom: 5px solid var(--error-color);
}

.card:nth-child(4) {
  border-bottom: 5px solid var(--infor-color);
}

.card__name-big {
  font-weight: bold;
}

.card__quantity {
  font-weight: bold;
  font-size: 20px;
  margin-block: 10px;
}

.card__name-small {
  color: var(--secondary-text-color);
  font-size: 14px;
}

.dashboard {
  background-color: #fff;
  padding: 20px;
  border: 1px solid var(--border-color);
  margin-top: 20px;
}

.dashboard__title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.dashboard canvas {
  max-height: 350px;
}

canvas {
  max-width: 100%;
}
