.title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.tool-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.tool-list a {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border: 1px solid var(--border-color);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.tool-list a i {
  font-size: 30px;
  margin-right: 10px;
}
