.container {
  width: 100%;
  display: flex;
}

.tabs {
  flex: 1;
  max-width: 300px;
  height: 100%;
  padding-right: 20px;
  border-right: 1px solid #ddd;
  position: sticky;
  top: 20px;
}

.tab-links {
  list-style: none;
  margin-bottom: -10px;
}

.tab-links li a {
  display: block;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  color: #333;
  text-decoration: none;
  border: 1px solid var(--border-color);
}

.tab-links li a[href='/signout'] {
  border: 1px solid #ff0000;
  background-color: #ff0000e6;
  color: #fff;
}

.tab-links li a.active:not([href='/signout']) {
  background-color: var(--button-background);
  color: #fff;
  border-color: #333;
}

.tab-contents {
  flex: 1;
  padding-left: 20px;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.tab-content h1 {
  margin-bottom: 20px;
}

.tab-content label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.tab-content input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  margin-bottom: 10px;
  background: #fff;
  color: #333;
}

.password-group {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
  margin-bottom: 10px;
}

.password-group input {
  border: none;
  padding-right: 35px;
  border-radius: 5px;
  margin-bottom: 0;
}

.password-group input:focus {
  outline: none;
  border: none !important;
}

.currentPassword-group:has(#currentPassword:focus),
.newPassword-group:has(#newPassword:focus),
.newConfirmPassword-group:has(#newConfirmPassword:focus) {
  border: 1px solid var(--infor-color);
  outline: 1px solid var(--infor-color);
}

#currentPassword-toggle:checked ~ #currentPassword,
#newPassword-toggle:checked ~ #newPassword,
#newConfirmPassword-toggle:checked ~ #newConfirmPassword {
  text-security: disc;
  -webkit-text-security: disc;
  -moz-text-security: disc;
}

.control-label__show-password i {
  display: none;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

#currentPassword-toggle:checked ~ .control-label__show-password .hide-icon,
#newPassword-toggle:checked ~ .control-label__show-password .hide-icon,
#newConfirmPassword-toggle:checked ~ .control-label__show-password .hide-icon {
  display: block;
}

#currentPassword-toggle:not(:checked)
  ~ .control-label__show-password
  .show-icon,
#newPassword-toggle:not(:checked) ~ .control-label__show-password .show-icon,
#newConfirmPassword-toggle:not(:checked)
  ~ .control-label__show-password
  .show-icon {
  display: block;
}

.tab-content button[type='submit'] {
  background-color: var(--button-background);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.tab-content button[type='submit']:hover {
  background-color: #555;
}

.tab-content button[type='submit']:active {
  background-color: #222;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .tabs {
    max-width: 9999px;
    height: 0;
    border: none;
    padding-right: 0;
    white-space: nowrap;
    position: static;
    overflow-x: scroll;
    margin-bottom: 1rem;
  }

  .tab-links {
    display: flex;
  }

  .tab-links li {
    margin-right: 20px;
  }

  .tab-links li:last-child {
    margin-right: 0;
  }

  .tab-contents {
    border-top: 1px solid #ccc;
    padding-top: 1rem;
    padding-left: 0;
  }
}
