.container h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.container img {
  display: block;
  max-width: 200px;
  max-height: 200px;
  margin-inline: auto;
  margin-bottom: 20px;
  border-radius: 5px;
}

.container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.container input,
.container textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  margin-bottom: 10px;
  background: #fff;
  resize: none;
}

.container input[data-status='0'] {
  color: var(--success-color);
  font-weight: bold;
}

.container input[data-status='1'] {
  color: var(--warning-color);
  font-weight: bold;
}

.container input[data-status='2'] {
  color: var(--error-color);
  font-weight: bold;
}
