.container h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.container input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  background: #fff;
  color: #333;
}

.container input[data-status='0'] {
  color: green;
  font-weight: bold;
}

.container input[data-status='1'] {
  color: orange;
  font-weight: bold;
}

.container input[data-status='2'] {
  color: red;
  font-weight: bold;
}

.container .btn {
  display: inline-block;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
}

.container .reject-btn {
  background-color: red;
  color: #fff;
}

.container .accept-btn {
  background-color: green;
  color: #fff;
  margin-left: 10px;
}
