.title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.request-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 10px;
  border: 1px solid #555;
  border-radius: 20px 0 0 20px;
  width: 300px;
  font-size: 18px;
  outline: none;
}

.search-btn {
  background-color: #555;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  font-size: 18px;
  border: 1px solid #555;
}

.search-btn i {
  margin-right: 10px;
}

.request-list table {
  width: 100%;
  border-collapse: collapse;
}

.request-list tr:nth-child(even) {
  background-color: #f2f2f2;
}

.request-list tr:not(thead tr):hover {
  background-color: #ddd;
  cursor: pointer;
}

.request-list th,
.request-list td {
  border: 1px solid #ddd;
}

.request-list th {
  padding: 10px;
  background-color: #f9f9f9;
  font-weight: bold;
}

.request-list td a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.request-list td {
  text-align: center;
}

.request-list td:nth-child(1) {
  width: 5%;
}

.request-list td:nth-child(4) {
  width: 40%;
  text-align: left;
}

.request-list td:last-child {
  font-weight: bold;
}

.request-list td:last-child[data-status='0'] a {
  color: green;
}

.request-list td:last-child[data-status='1'] a {
  color: orange;
}

.request-list td:last-child[data-status='2'] a {
  color: red;
}

@media (max-width: 768px) {
  .request-list-header {
    flex-direction: column;
  }

  .search-container {
    width: 100%;
  }

  .search-input {
    width: 100%;
  }
}
