.title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.request-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.request-list {
  border-radius: 10px;
  border: 1px solid var(--border-color);
  overflow: auto;
}

.request-list table {
  width: 100%;
  border-collapse: collapse;
  border-style: hidden;
}

.request-list tr:not(thead tr):hover {
  background-color: #ddd;
  cursor: pointer;
}

.request-list th,
.request-list td {
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.request-list th {
  padding: 15px 10px;
  background-color: #f9f9f9;
  font-weight: bold;
}

.request-list td a {
  display: block;
  padding: 15px 10px;
}

.request-list td:nth-child(1) {
  width: 5%;
}

.request-list td:nth-child(2) {
  font-weight: bold;
}

.request-list td:last-child a span {
  padding: 5px 10px;
  border-radius: 8px;
  display: inline-block;
}

.request-list td:last-child[data-status='0'] a {
  color: var(--success-color);
}

.request-list td:last-child[data-status='0'] a span {
  background-color: var(--success-background);
}

.request-list td:last-child[data-status='1'] a {
  color: var(--warning-color);
}

.request-list td:last-child[data-status='1'] a span {
  background-color: var(--warning-background);
}

.request-list td:last-child[data-status='2'] a {
  color: var(--error-color);
}

.request-list td:last-child[data-status='2'] a span {
  background-color: var(--error-background);
}

@media (max-width: 768px) {
  .request-list-header {
    flex-direction: column;
  }
}
